extend ../layouts/common.pug

block content 
     .h2.mb-4 Quản Lý
     if role == "ADMIN"
          .row.mb-4
               .col-sm-6.mb-2
                    a.card.text-decoration-none(href="/admin/branches")
                         .card-body
                              h5.card-title Chi Nhánh
                              p.card-text.text-muted Quản lý chi nhánh cho Foozie Foods
               .col-sm-6
                    a.card.text-decoration-none(href="/admin/users")
                         .card-body
                              h5.card-title Người Dùng
                              p.card-text.text-muted Quản lý người dùng trên Foozie Foods
     .row
          .col-sm-6.mb-2
               a.card.text-decoration-none(href="/admin/menu")
                    .card-body
                         h5.card-title Menu
                         p.card-text.text-muted Quản lý danh sách món ăn trên Foozie Foods
          .col-sm-6
               a.card.text-decoration-none(href="/admin/orders")
                    .card-body
                         h5.card-title Đơn Đặt Hàng
                         p.card-text.text-muted Quản lý đơn đặt hàng trên Foozie Foods
                         
