#Cart.offcanvas.offcanvas-end(tabindex='-1' aria-labelledby='Cart')
     .offcanvas-header
          .h2#offcanvasRightLabel Cart
          button.btn-close.text-reset(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
     .offcanvas-body
          span.h1 EMPTY