if isHosting && (!user || user.role == "CUSTOMER")
     #fb-root
     // Your Plugin chat code
     #fb-customer-chat.fb-customerchat
     script.
          var chatbox = document.getElementById('fb-customer-chat');
          chatbox.setAttribute("page_id", "112075081712090");
          chatbox.setAttribute("attribution", "biz_inbox");
          chatbox.setAttribute("app_id", "260206602318334");
          // Your SDK code
     script.
          window.fbAsyncInit = function() {
          FB.init({
          xfbml            : true,
          version          : 'v15.0'
          });
          };
          (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
