.fixed-bottom
     div.notify.bg-danger.rounded-pill.badge.invisible
     input#open-chat(type='checkbox')
     label.chat-btn.bg-primary(for='open-chat')
          i.bi.bi-chat-dots.fs-2
     .wrapper.shadow-lg.d-none.overflow-hidden
          .header.bg-primary.d-flex.justify-content-between.align-items-center
               .h6.m-0 Foozie - Hổ Trợ Trực Tuyến
               button.btn-close.btn-close-white#close-chat(type='button' aria-label="Close")
          .d-flex.flex-column#chat(style="height: 326px;").overflow-auto.px-2.py-3
               if !user
                    include ./registChat.pug
          .input-group.position-absolute.bottom-0(class=user ? "" : "invisible")
               input.form-control#inpChat(type='text' placeholder=`Chat trực tiếp với chúng tôi` aria-label='comment')
               button.btn.btn-primary#send(type='submit')
                    i.bi.bi-send