form.d-flex.flex-column.justify-content-center#registChat
     .input-group.mb-1
          span.input-group-text Tên
          input.form-control(type='text' placeholder="Họ và tên" required name="name")
     .input-group.mb-1
          span.input-group-text Số điện thoại
          input.form-control(type='text' placeholder="Số điện thoại" required name="phone")
     .input-group.mb-1
          span.input-group-text Email
          input.form-control(type='text' placeholder="Email" required name="email")
     button.btn.btn-outline-primary(type='submit') Bắt đầu