extends ./layouts/common
block content
    .p-5.shadow-sm.bg-white
        h1.h1 Chính sách bảo mật
        ol
            li Mục đích và phạm vi thu thập
                p Việc thu thập dữ liệu chủ yếu trên website bao gồm: email, số điện thoại, thông tin người liên hệ, bảng mô tả công việc đối với nhà tuyển dụng và hồ sơ học viên đối với học viên. Đây là các thông tin mà Ban Quản Lý website cần học viên cung cấp bắt buộc khi đăng ký sử dụng dịch vụ và để Ban Quản Lý website liên hệ xác nhận khi học viên/nhà tuyển dụng đăng ký sử dụng dịch vụ trên website nhằm đảm bảo quyền lợi cho học viên/nhà tuyển dụng. Các học viên/ nhà tuyển dụng sẽ tự chịu trách nhiệm về bảo mật và lưu giữ mọi hoạt động sử dụng dịch vụ dưới tên và hộp thư điện tử của mình.
            li Phạm vi sử dụng thông tin
                p vinhphancommunity.xyz sử dụng thông tin thành viên cung cấp để:
                ul
                    li Cung cấp các dịch vụ học tập, bài tập cho học viên.
                    li Gửi các thông báo đến học viên khi đăng ký dự thi MOS thành công.
                    li Ngăn ngừa các hoạt động phá hủy tài khoản người dùng của Chủ sở hữu hoặc các hoạt động giả mạo thông tin Chủ sở hữu.
                    li Giải quyết các vấn đề, tranh chấp phát sinh liên quan đến việc sử dụng website Ngăn chặn những hoạt động vi phạm pháp luật Việt Nam
                    li Không sử dụng thông tin cá nhân của người dùng ngoài mục đích xác nhận và liên hệ có liên quan đến giao dịch tại Website.
                    li Trong trường hợp có yêu cầu của pháp luật: vinhphancommunity.xyz có trách nhiệm hợp tác cung cấp thông tin cá nhân thành viên khi có yêu cầu từ cơ quan tư pháp bao gồm: Viện kiểm sát, tòa án, cơ quan công an điều tra liên quan đến hành vi vi phạm pháp luật nào đó của khách hàng. Ngoài ra, không ai có quyền xâm phạm vào thông tin cá nhân của thành viên.
            li Thời gian lưu trữ thông tin.
                p Dữ liệu của học viên sẽ được lưu trữ cho đến khi có yêu cầu hủy bỏ hoặc tự thành viên đăng nhập và thực hiện hủy bỏ. Còn lại trong mọi trường hợp thông tin sẽ được bảo mật trên máy chủ của vinhphancommunity.xyz.
            li Địa chỉ của đơn vị
                ul
                    li
                        strong  Địa chỉ:&nbsp;
                        span 824/26 Sư Vạn Hạnh, Phường 12, Quận 10, Thành phố Hồ Chí Minh
                    li
                        strong Điện thoại:&nbsp;
                        span 0335499633
                    li
                        strong Email:&nbsp;
                        span vinhphan812@gmail.com
            li Cam kết bảo mật thông tin cá nhân khách hàng
                p - Thông tin người dùng trên vinhphancommunity.xyz được vinhphancommunity.xyz cam kết bảo mật tuyệt đối theo chính sách bảo vệ thông tin cá nhân của vinhphancommunity.xyz.Việc thu thập và sử dụng thông tin của người dùng chỉ được thực hiện khi có sự đồng ý của khách hàng đó trừ những trường hợp pháp luật có quy định khác.
                p - vinhphancommunity.xyz sử dụng phần mềm Secure Sockets Layer(SSL) để bảo vệ thông tin của người dùng trong quá trình chuyển dữ liệu bằng cách mã hóa thông tin bạn nhập vào.
                p - người dùng có trách nhiệm tự bảo vệ mình trước sự tiếp cận thông tin về password khi dùng chung máy tính với nhiều người.Khi đó, người dùng phải chắc chắn đã thoát khỏi tài khoản sau khi sử dụng dịch vụ của vinhphancommunity.xyz.
                p - vinhphancommunity.xyz cam kết không cố ý tiết lộ ho ặc chia sẻ thông tin người dùng , khi không có sự đồng ý từ người dùng.
                p - Chính sách bảo mật thông tin khách hàng của vinhphancommunity.xyz chỉ được áp dụng tại vinhphancommunity.xyz.Nó không bao gồm hoặc liên quan đến các bên thứ ba khác đặt quảng cáo hoặc có liên kết tại vinhphancommunity.xyz.người dùng nên tham khảo và phân biệt rõ sự khác biệt trong chính sách bảo mật thông tin khách hàng của những website này
                p - Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất mát dữ liệu người dùng , vinhphancommunity.xyz sẽ có trách nhiệm thông báo vụ việc cho cơ quan chức năng điều tra xử lý kịp thời và thông báo cho người dùng được biết.
                p - Ban quản lý vinhphancommunity.xyz yêu cầu các cá nhân khi đăng ký là thành viên, phải cung cấp đầy đủ thông tin cá nhân có liên quan như: Họ và tên, địa chỉ liên lạc, email và chịu trách nhiệm về tính pháp lý của những thông tin trên.Ban quản lý vinhphancommunity.xyz không chịu trách nhiệm cũng như không giải quyết mọi khiếu nại có liên quan đến quyền lợi của người dùng đó nếu xét thấy tất cả thông tin người dùng cung cấp khi đăng ký ban đầu là không chính xác.
            li Cơ chế tiếp nhận và giải quyết khiếu nại liên quan đến việc thông tin cá nhân
                p Khi khách hàng gửi thông tin cá nhân của khách hàng cho chúng tôi, khách hàng đã đồng ý với các điều khoản mà chúng tôi đã nêu ở trên, vinhphancommunity.xyz cam kết bảo mật thông tin cá nhân của các khách hàng bằng mọi cách thức có thể. Chúng tôi sử dụng các hệ thống mã hóa nhằm bảo vệ thông tin này không bị truy lục, sử dụng hoặc tiết lộ ngoài ý muốn.
                p vinhphancommunity.xyz cũng khuyến cáo các khách hàng nên bảo mật các thông tin liên quan đến mật khẩu truy xuất của các khách hàng và không nên chia sẻ với bất kỳ người nào khác.
                p Trong trường hợp có phản ánh của khách hàng về việc sử dụng thông tin trái với mục đích đã nêu, vinhphancommunity.xyz sẽ tiến hành giải quyết theo các bước sau:
                p
                    strong Bước 1:&nbsp;
                    span Khách hàng gửi thông tin phản hồi về việc thông tin cá nhân thu thập trái với mục đích đã nêu.
                p
                    strong Bước 2:&nbsp;
                    span Bộ phận Chăm sóc Khách hàng của vinhphancommunity.xyz tiếp nhận và giải quyết với các bên có liên quan.
                p
                    strong Bước 3:&nbsp;
                    span Trong trường hợp vượt ra khỏi tầm kiểm soát của vinhphancommunity.xyz, chúng tôi sẽ đưa ra các cơ quan có thẩm quyền để yêu cầu giải quyết
                p Chúng tôi luôn hoan nghênh các ý kiến đóng góp, liên hệ và phản hồi thông tin từ khách hàng về “Chính sách bảo mật” này. Nếu khách hàng có những thắc mắc liên quan xin vui lòng liên hệ theo địa chỉ Email: moskhanhly@gmail.com