extends ../layouts/common.pug

block head
     title Đăng Nhập

block content
      .container
          .h1.text-center Đăng Nhập
          if errors 
               each error in errors 
                    .alert.alert-danger.w-75.mx-auto.my-2= error
          .row
               .col-md-6.mx-auto
                    form(action="/login", method="post")
                         input.form-control.my-2(type="text", name="username", placeholder="tên đăng nhập, email hoặc số điện thoại", value=username||"")
                         input.form-control.my-2(type="password", name="pass", placeholder="mật khẩu", value=pass||"")
                         .d-flex.justify-content-between.align-items-center
                         a.d-flex.justify-content-end.mb-2(href="/forgot") Quên mật khẩu?
                         input.btn.btn-primary.w-50.d-block.mx-auto(type="submit", name="submit", value="Đăng nhập")
