extend ../layouts/common.pug

block head 
     title Permission Error
block content 
     .d-flex.justify-content-center.align-items-center.flex-column
          i.bi.bi-exclamation-triangle-fill(style="font-size: 100px")

          h1 Permission Error
          h4 you do not have permission to access the page