extend ../layouts/common.pug

block head
     title Thêm Trọng Tài Mới
block content 
     .h1.text-center Thêm Trọng Tài Mới
     if errors
          for err in errors 
               .alert.alert-danger.w-50.mx-auto(role='alert')= err

     form.px-5.w-50.mx-auto(action="referees", method="POST" enctype="multipart/form-data")
          .mb-3
               label.form-label(for='league') Tên Trọng Tài
               input.form-control(type='text' placeholder='Tên Trọng Tài' name='name' id="league" value= body.name || "")
          .mb-3
               label.form-label(for='email') Email
               input.form-control(type='text' placeholder='email' name='email' id="email" value= body.email || "")
          .mb-3
               label.form-label(for='phone') Số điện thoại 
               input.form-control(type='text' placeholder='Số điện thoại' name='phone' id="phone" value= body.phone || "")
          .mb-3
               label.form-label(for='description') Mô Tả
               textarea.form-control(rows='3' id = "description", name='description' placeholder='mô tả về trọng tài')= body.description || ""
          .mb-3
               label.form-label(for='birthday') Ngày Sinh 
               input.form-control(type='date' name='birthday' id="birthday" value= body.birthday)
          .mb-3
               label.form-label(for='thumnails') Biểu Tượng
               input.form-control(type='file' name='logo' id="thumnails" accept="image/*")
          .mb-3
               input.btn.btn-primary.form-control(type="submit" value="Create")