extend ../layouts/common.pug

block head
     title Các nhà tài trợ 

block content
     .row.justify-content-evenly
          each donor in donors
               a.card.col-md-3.my-2.text-decoration-none(style='width: 18rem;' href="/donors/" + donor.id)
                    img.card-img-top.mx-auto.w-50.my-3(src=donor.logo_path alt='Biểu tượng của ' + donor.name)
                    .card-body
                         .card-title.h5.text-center.text-black= donor.name
