.menu.my-2
     .h4 Danh Mục Quản Lý
     hr
     ul.list-group
               a.list-group-item.list-group-item-action.link(href="#leagues") Quản Lý Giải
               a.list-group-item.list-group-item-action.link(href="#teams") Quản Lý Đội Bóng
               a.list-group-item.list-group-item-action.link(href="#donors") Quản Lý Nhà Tài Trợ
               a.list-group-item.list-group-item-action.link(href="#referees") Quản Lý Trọng Tài
               a.list-group-item.list-group-item-action.link(href="#rules") Quản Lý Quy Định
