table.table.table-hover#players-table
     thead
          tr
               th(scope='col') #
               th(scope='col') Tên
               th(scope='col') Số Áo
               th.d-none.d-sm-table-cell(scope='col') Chiều Cao (cm)
               th.d-none.d-sm-table-cell(scope='col') Cân Nặng (kg)
               th(scope='col') Vị Trí 
               th.d-none.d-lg-table-cell(scope='col') Ngày Sinh 
               th(scope='col') 
     tbody
          - var i=0
          while i++ < 10
               tr.placeholder-glow
                    td 
                         span.placeholder.w-100
                    td 
                         span.placeholder.w-100
                    td 
                         span.placeholder.w-100
                    td 
                         span.placeholder.w-100
                    td 
                         span.placeholder.w-100
                    td 
                         span.placeholder.w-100
                    td 
                         span.placeholder.w-100